- var mBannerLink = 'link1'
- var mBannerImg = 'mbanner-1.png'
- var subText = 'Naujienų prenumerata'
- var subBtnText = 'Prenumeruoti'

- var sectionNewsHeaderOne = 'Augalininkystė'
- var sectionNewsHeaderOneCounter = ' (2450)'
-
		var sectionNewsListOne = {
			'link1':'Augalų apsaugos priemonės',
			'link2':'Sodo ir daržo inventorius',
			'link3':'Sodinukai',
			'link4':'Sėklos',
			'link5':'Trąšos'
		}
- var sectionNewsHeaderTwo = 'Gyvulininkystė'
- var sectionNewsHeaderTwoCounter = ' (187)'
-
		var sectionNewsListTwo = {
			'link1':'Galvijai',
			'link2':'Kiaulės',
			'link3':'Avys',
			'link4':'Arkliai',
			'link5':'Kiti gyvūnai',
			'link6':'Pašarai',
			'link7':'Fermų įranga',
			'link8':'Ožkos'
		}
- var sectionNewsHeaderThree = 'Nekilnojamasis turtas'
- var sectionNewsHeaderThreeCounter = ' (10)'
-
		var sectionNewsListThree = {
			'link1':'Namai ir sodybos',
			'link2':'Žemės sklypai',
			'link3':'Sandėliai ir džiovyklos',
			'link4':'Ūkio pastatai'
		}
- var sectionNewsHeaderFour = 'Paslaugos'
- var sectionNewsHeaderFourCounter = ' (5)'
-
		var sectionNewsListFour = {
			'link1':'Statybų medžiagos, darbai, paslaugos',
			'link2':'Technikos ir įrangos nuoma',
			'link3':'Krovinių pervežimas ',
			'link4':'Konsultacijos',
			'link5':'Darbo skelbimai'
		}
- var sectionNewsHeaderFive = 'Paslaugos'
- var sectionNewsHeaderFiveCounter = ' (98)'
-
		var sectionNewsListFive = {
			'link1':'Traktoriai',
			'link2':'Kombainai',
			'link3':'Krautuvai',
			'link4':'Priekabos',
			'link5':'Žemės dirbimo technika',
			'link6':'Sėjos ir sodinimo technika',
			'link7':'Purškimo ir tręšimo technika',
			'link8':'Šienavimo ir pašarų ruošimo technika',
			'link9':'Grėbliai ir vartytuvai',
			'link10':'Presai ir vyniotuvai',
			'link11':'Šėrimo technika',
			'link12':'Kita technika',
			'link13':'Technikos dalys',
			'link14':'Sodo technika',
			'link15':'Technikos nuoma'
		}
- var sectionNewsHeaderSix = 'Žemės ūkio produktai'
- var sectionNewsHeaderSixCounter = ' (114)'
-
		var sectionNewsListSix = {
			'link1':'Javai ir rapsai',
			'link2':'Daržovės',
			'link3':'Vaisiai ir uogos',
			'link4':'Baltyminiai augalai',
			'link5':'Pašariniai augalai',
			'link6':'Bulvės'
		}
- var lastAnnouncmentsHeader = 'Naujausi skelbimai'

- var announcmentSearch = 'Ieško'
- var announcmentInvite = 'Siūlo'
-
		var announcmentSearchList = [
			{
				img: 'announcment-1.png',
				link: 'link1',
				header: 'Parduodu vikius',
				type: 'Siūlo',
				date: '2018-01-02',
				topic: 'Augalininkystė',
				text: 'Parduodu vikius. Išvalyti, sausi, daigūs. Kaina 400 eurų tona. Ukmergės raj. 862200227 ',
			},{
				img: 'announcment-1.png',
				link: 'link2',
				header: 'Cukriniai runkeliai',
				type: 'Siūlo',
				date: '2018-01-03',
				topic: 'Augalininkystė',
				text: 'Parduodu cukrinius runkelius yra prikasta apie 150t.'
			},{
				img: 'announcment-1.png',
				link: 'link3',
				header: 'Avižos, žirniai, grikiai',
				type: 'Siūlo',
				date: '2018-01-04',
				topic: 'Augalininkystė',
				text: 'Parduodu avižas -100 t. , grikius - 3 t. , žirnius -6 t. . Varėnos r.'
			},{
				img: 'announcment-1.png',
				link: 'link4',
				header: 'Avižos, žirniai, grikiai',
				type: 'Siūlo',
				date: '2018-01-05',
				topic: 'Augalininkystė',
				text: 'Parduodu avižu-vikiu misinį, avižas, mežius, grudai tinka seklai išvaliti Šalčininkų raj.'
			},{
				img: 'announcment-1.png',
				link: 'link5',
				header: 'Avižos, žirniai, grikiai',
				type: 'Siūlo',
				date: '2018-01-05',
				topic: 'Augalininkystė',
				text: 'isoje Lietuvoje perku visus maistinius ir visus pašarinius grūdus tinka sudige drėgni siuksleti su kvapu su vabalais, visi mišiniai, maži kiekiai.'
			}
		]
-
		var announcmentInviteList = [
			{
				img: 'announcment-1.png',
				link: 'link11',
				header: 'Perkame ekologiškus ir P2 statuso grūdus',
				type: 'Ieško',
				date: '2018-01-02',
				topic: 'Augalininkystė',
				text: 'Nuolat superkame ekologines bei pereinamojo statuso avižas, kviečius, kvietrugius, rugius, speltą, ir kitus grūdus. Turime galimybę produkciją išvalyt, i',
			},{
				img: 'announcment-1.png',
				link: 'link21',
				header: 'Brangiai perku kviecius',
				type: 'Ieško',
				date: '2018-01-03',
				topic: 'Augalininkystė',
				text: 'Brangiai moku uz kviecius,issivezu savo transportu,iskarto atsiskaitom.'
			},{
				img: 'announcment-1.png',
				link: 'link31',
				header: 'Avižos, žirniai, grikiai',
				type: 'Ieško',
				date: '2018-01-04',
				topic: 'Augalininkystė',
				text: 'Parduodu avižas -100 t. , grikius - 3 t. , žirnius -6 t. . Varėnos r.'
			},{
				img: 'announcment-1.png',
				link: 'link41',
				header: 'Avižos, žirniai, grikiai',
				type: 'Ieško',
				date: '2018-01-05',
				topic: 'Augalininkystė',
				text: 'Parduodu avižu-vikiu misinį, avižas, mežius, grudai tinka seklai išvaliti Šalčininkų raj.'
			},{
				img: 'announcment-1.png',
				link: 'link51',
				header: 'Avižos, žirniai, grikiai',
				type: 'Ieško',
				date: '2018-01-05',
				topic: 'Augalininkystė',
				text: 'isoje Lietuvoje perku visus maistinius ir visus pašarinius grūdus tinka sudige drėgni siuksleti su kvapu su vabalais, visi mišiniai, maži kiekiai.'
			}
		]
.ads
	.container
		.row
			.col-10
				.banner-top
					.m-banner
						a.m-banner__link(href=`${mBannerLink}`)
							img.m-banner__img(src=`templates/images/mBanners/${mBannerImg}`)
					form.subscription
						p.subscription__text=subText
						input.subscription__input(type='text' placeholder='Jūsų el. pašto adresas')
						a.btn-sub=subBtnText

				.news-section
					.news-section__column
						.news-section__wrapper
							a(href='#').news-section__header-link
								.news-section__header= sectionNewsHeaderOne
									span.news-section__counter= sectionNewsHeaderOneCounter
							ul.news-section__list
								each newsItem, newsLink in sectionNewsListOne
									li.news-section__item
										a(href=`${newsLink}`).news-section__link= newsItem
						.news-section__wrapper
							a(href='#').news-section__header-link
								.news-section__header= sectionNewsHeaderTwo
									span.news-section__counter= sectionNewsHeaderTwoCounter
							ul.news-section__list
								each newsItem, newsLink in sectionNewsListTwo
									li.news-section__item
										a(href=`${newsLink}`).news-section__link= newsItem
					.news-section__column
						.news-section__wrapper
							a(href='#').news-section__header-link
								.news-section__header= sectionNewsHeaderThree
									span.news-section__counter= sectionNewsHeaderThreeCounter
							ul.news-section__list
								each newsItem, newsLink in sectionNewsListThree
									li.news-section__item
										a(href=`${newsLink}`).news-section__link= newsItem
						.news-section__wrapper
							a(href='#').news-section__header-link
								.news-section__header= sectionNewsHeaderFour
									span.news-section__counter= sectionNewsHeaderFourCounter
							ul.news-section__list
								each newsItem, newsLink in sectionNewsListFour
									li.news-section__item
										a(href=`${newsLink}`).news-section__link= newsItem
					.news-section__column
						.news-section__wrapper
							a(href='#').news-section__header-link
								.news-section__header= sectionNewsHeaderFive
									span.news-section__counter= sectionNewsHeaderFiveCounter
							ul.news-section__list
								each newsItem, newsLink in sectionNewsListFive
									li.news-section__item
										a(href=`${newsLink}`).news-section__link= newsItem
					.news-section__column
						.news-section__wrapper
							a(href='#').news-section__header-link
								.news-section__header= sectionNewsHeaderSix
									span.news-section__counter= sectionNewsHeaderSixCounter
							ul.news-section__list
								each newsItem, newsLink in sectionNewsListSix
									li.news-section__item
										a(href=`${newsLink}`).news-section__link= newsItem

				.last-announcments
					.last-announcment__header= lastAnnouncmentsHeader
					.last-announcment__wrapper
						.last-announcment__search
							.announcment__header.announcment__search= announcmentSearch
							ul.announcment__list
								each item in announcmentSearchList
									li.announcment__item
										img.announcment__img(src=`templates/images/announcment/${item.img}`)
										.announcment__info
											a.announcment__link(href=`${item.link}`)
												.announcment__head= item.header
											.announcment__descr
												.announcment__type.type__search= item.type
												.announcment__date= item.date
												.announcment__topic= item.topic
											.announcment__text= item.text
											a.news__read-more(href=`${item.link}`) Daugiau

						.last-announcment__invite
							.announcment__header.announcment__invite= announcmentInvite
							ul.announcment__list
								each item in announcmentInviteList
									li.announcment__item
										img.announcment__img(src=`templates/images/announcment/${item.img}`)
										.announcment__info
											a.announcment__link(href=`${item.link}`)
												.announcment__head= item.header
											.announcment__descr
												.announcment__type.type__invite= item.type
												.announcment__date= item.date
												.announcment__topic= item.topic
											.announcment__text= item.text
											a.news__read-more(href=`${item.link}`) Daugiau


			.col-2
				.left-banner-column
					include ../block/_small-banner-list