-
		var newsList =[
			{
				newsListLink: 'link-1',
				newsListComment: '(5)',
				newsListImg: 'news-1.png',
				newsListHeader: 'Mineralinio azoto dirvožemyje - ypatingai mažai',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-2',
				newsListComment: '(10)',
				newsListImg: 'news-2.png',
				newsListHeader: 'NMA planai: nuo kontrolės prie prevencijos',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Hanoveris/Kaunas. Europos žemės ūkio technikos gamintojų asociacijos CEMA verslo barometras rodo, kad žemės ūkio mašinų pramonė nuo 2017 m. pirmojo ketvirčio perėjo į spartaus augimo fazę ir beveik atkartoja 2011 m. '
			},{
				newsListLink: 'link-3',
				newsListComment: '(20)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-4',
				newsListImg: 'news-4.png',
				newsListHeader: 'Mineralinio azoto dirvožemyje - ypatingai mažai',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-5',
				newsListComment: '(8)',
				newsListImg: 'news-1.png',
				newsListHeader: 'Mineralinio azoto dirvožemyje - ypatingai mažai',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-6',
				newsListComment: '(4)',
				newsListImg: 'news-2.png',
				newsListHeader: 'NMA planai: nuo kontrolės prie prevencijos',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Hanoveris/Kaunas. Europos žemės ūkio technikos gamintojų asociacijos CEMA verslo barometras rodo, kad žemės ūkio mašinų pramonė nuo 2017 m. pirmojo ketvirčio perėjo į spartaus augimo fazę ir beveik atkartoja 2011 m. '
			},{
				newsListLink: 'link-7',
				newsListComment: '(1)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-7',
				newsListComment: '(1)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-7',
				newsListComment: '(1)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-7',
				newsListComment: '(1)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-7',
				newsListComment: '(1)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-7',
				newsListComment: '(1)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-7',
				newsListComment: '(1)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-7',
				newsListComment: '(1)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-7',
				newsListComment: '(1)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-7',
				newsListComment: '(1)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			}
		]
.article-list
	ul.news__list
		each item in newsList
			li.news__item
				a.news__img-link(href=`${item.newsListLink}`)
					img.news__img(src=`templates/images/newsList/${item.newsListImg}`)
				.news__content
					a.news__header(href=`${item.newsListLink}`)= item.newsListHeader
					p.news__description.news-with-photo= item.newsListDescr
					p.news__comment= item.newsListComment
					p.news__text= item.newsListText
						a.news__read-more(href=`${item.newsListLink}`) Daugiau