- var rBannerTopLink = '#rbanner-top'
- var rNammerTopImg = 'rbanner-top.png'
- var subText = 'Naujienų prenumerata'
- var subBtnText = 'Prenumeruoti'
-
		var rightBanners = {
			'#rbanner-1':'rbanner-1.png',
			'#rbanner-2':'rbanner-2.png',
		}
- var weatherHeader = 'Orai'
- var businessInfoHeader = 'Verslo informacija'
-
		var businessNews ={
			'/link1':'Šiemet nustatyti aštuoni glifosato netinkamo naudojimo atvejai',
			'/link2':'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
			'/link3':'Mineralinio azoto dirvožemyje - ypatingai mažai'
		}
- var mBannerLink = 'link1'
- var mBannerImg = 'mbanner-1.png'
- var advertisingHeader = 'Reklama'
-
		var advertising = {
			'/link1':'Žurnalas „Mano ūkis“ ',
			'/link2':'Žurnalas „Vetinfo“',
			'/link3':'Žurnalas „Mano gyvenimas“',
			'/link4':'Specialieji žurnalų priedai',
		}
.right-banner-column
	.right-banner.right-banner-top
		a.right-banner__link(href=`${rBannerTopLink}`)
			img.right-banner__img(src=`templates/images/rBanners/${rNammerTopImg}`)

	include ../block/_form-sub
	.right-banner.right-banner-group
		ul.right-banner
			each rBannerImg,rBannerLink in rightBanners
				li.right-banner__item
					a.right-banner__link(href=`${rBannerLink}`)
						img.right-banner__img(src=`templates/images/rBanners/${rBannerImg}`)
	include ../block/_widget-vote
	.weather.widget
		.widget__header=weatherHeader
	.business-info.widget
		.business-info__header.widget__header.widget__header-green=businessInfoHeader
		ul.business-news
			each businesNewsName, businessNewsLink in businessNews
				li.business-news__item
					a.business-news__link(href=`${businessNewsLink}`)=businesNewsName
	.advertising.widget
		.advertising__header.widget__header=advertisingHeader
		ul.advertising__list
			each advertisingName, advertisingLink in advertising
				li.advertising__item
					a.advertising__link(href=`${advertisingLink}`)=advertisingName