-
		var leftBanners = {
			'#lbanner-1':'lbanner-1.png',
			'#lbanner-2':'lbanner-2.png',
			'#lbanner-3':'lbanner-3.png',
			'#lbanner-4':'lbanner-4.png',
			'#lbanner-5':'lbanner-5.png',
			'#lbanner-6':'lbanner-6.png',
			'#lbanner-7':'lbanner-7.png',
			'#lbanner-8':'lbanner-8.png',
		}
- var rBannerTopLink = '#rbanner-top'
- var rNammerTopImg = 'rbanner-top.png'
-
		var rightBanners = {
			'#rbanner-1':'rbanner-1.png',
			'#rbanner-2':'rbanner-2.png',
		}
- var appearanceHeader = 'Apklausa'
- var appearanceQuestion = 'Ar balsuosite už Arūną Karbauskį prezidento rinkimuose?'
- var appearanceAnswer = ['Taip, balsuosiu','Nebalsuosiu','Nežinau']
- var appearenceBtnText = 'Atsakyti'
- var weatherHeader = 'Orai'
- var businessInfoHeader = 'Verslo informacija'
-
		var businessNews ={
			'/link1':'Šiemet nustatyti aštuoni glifosato netinkamo naudojimo atvejai',
			'/link2':'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
			'/link3':'Mineralinio azoto dirvožemyje - ypatingai mažai'
		}
- var advertisingHeader = 'Reklama'
-
		var advertising = {
			'/link1':'Žurnalas „Mano ūkis“ ',
			'/link2':'Žurnalas „Vetinfo“',
			'/link3':'Žurnalas „Mano gyvenimas“',
			'/link4':'Specialieji žurnalų priedai',
		}
- var galleriesHeader = 'Galerijos'
-
		var gallery =[
			{
				img: 'gallery-main-1.png',
				link: 'link-1',
				name: '„DOJUS agro“ 25 metų jubiliejaus šventė Šiauliuose',
				counter: '30'
			},{
				img: 'gallery-main-2.png',
				link: 'link-2',
				name: 'Mus supantys žiedai. Nuotraukos iš MANO ŪKIO archyvo',
				counter: '25'
			}
		]



- var gBannerLink = 'g-link'
- var gBannerImg = 'gbanner-1.png'

-
		var newsList =[
			{
				newsListLink: 'link-1',
				newsListComment: '(5)',
				newsListImg: 'news-1.png',
				newsListHeader: 'Mineralinio azoto dirvožemyje - ypatingai mažai',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-2',
				newsListComment: '(10)',
				newsListImg: 'news-2.png',
				newsListHeader: 'NMA planai: nuo kontrolės prie prevencijos',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Hanoveris/Kaunas. Europos žemės ūkio technikos gamintojų asociacijos CEMA verslo barometras rodo, kad žemės ūkio mašinų pramonė nuo 2017 m. pirmojo ketvirčio perėjo į spartaus augimo fazę ir beveik atkartoja 2011 m. '
			},{
				newsListLink: 'link-3',
				newsListComment: '(20)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-4',
				newsListImg: 'news-4.png',
				newsListHeader: 'Mineralinio azoto dirvožemyje - ypatingai mažai',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-5',
				newsListComment: '(8)',
				newsListImg: 'news-1.png',
				newsListHeader: 'Mineralinio azoto dirvožemyje - ypatingai mažai',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsListLink: 'link-6',
				newsListComment: '(4)',
				newsListImg: 'news-2.png',
				newsListHeader: 'NMA planai: nuo kontrolės prie prevencijos',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Hanoveris/Kaunas. Europos žemės ūkio technikos gamintojų asociacijos CEMA verslo barometras rodo, kad žemės ūkio mašinų pramonė nuo 2017 m. pirmojo ketvirčio perėjo į spartaus augimo fazę ir beveik atkartoja 2011 m. '
			},{
				newsListLink: 'link-7',
				newsListComment: '(1)',
				newsListImg: 'news-3.png',
				newsListHeader: 'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			}
		]

-
		var newsBlock = [
			{
				newsBlockLink: 'link-1',
				newsBlockComment: '(5)',
				newsBlockImg: 'news-block-1.png',
				newsBlockHeader: 'Supirkimo kainos per metus padidėjo 12,6 proc.',
				newsBlockDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsBlockText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			},{
				newsBlockLink: 'link-2',
				newsBlockImg: 'news-block-2.png',
				newsBlockComment: '(1)',
				newsBlockHeader: 'Šiemet nustatyti aštuoni glifosato netinkamo naudojimo atvejai',
				newsBlockDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsBlockText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			}
		]

- var mainNewsLink = 'link'
- var mainNewsImg = 'main-news.png'
- var mainNewsTag = 'Technika'
- var mainNewsHeader = 'Briuselis žada sąžiningesnes išmokas žemdirbiams'
- var mainNewsDescr = 'Lapkričio 30d., šeštadienis  Mokslas'
- var mainNewsText = 'Vilnius. Briuselis ieškos būdų, kaip sąžiningiau paskirstyti tiesiogines išmokas žemdirbiams skirtingose Europos Sąjungos (ES) šalyse, tačiau konkrečių skaičių naujajame biudžete po 2020 metų kol kas nekomentuoja, sako už žemės ūkį atsakingas eurokomisaras Filas Hoganas (Phil Hogan). '
- var mainNewsComment = '(10)'

-
		var subMenu = {
			'link1':'Agropolitika',
			'link2':'Pasaulyje',
			'link3':'Ūkis',
			'link4':'Rinka'
		}

.main-content
	.container
		.row
			.col-lg-2
				include ../block/_small-side-bar

			.col-lg-7.main-news

				.m-banner
					a.m-banner__link(href=`${mBannerLink}`)
						img.m-banner__img(src=`templates/images/mBanners/${mBannerImg}`)

				.news-block
						.news-block-big
							a.main__img-link(href=`${mainNewsLink}`)
								img.main__img(src=`templates/images/newsList/${mainNewsImg}`)
							.main__content
								p.main__tag= mainNewsTag
								a.news__link(href=`${mainNewsLink}`)
									p.news__header= mainNewsHeader
								p.news__description.news-with-photo= mainNewsDescr
								p.news__comment= mainNewsComment
								p.news__text= mainNewsText
									a.news__read-more(href=`${mainNewsLink}`) Daugiau
						ul.news-block-small
							each item in newsBlock
								li.news-block-element
									a.news__link(href=`${item.newsBlockLink}`)
										img.news-block__img(src=`templates/images/newsList/${item.newsBlockImg}`)
										p.news__header= item.newsBlockHeader
									p.news__description= item.newsBlockDescr
									p.news__comment= item.newsBlockComment
									p.news__text= item.newsBlockText
										a.news__read-more(href=`${item.newsBlockLink}`) Daugiau

				.g-banner
					a.g-banner__link(href=`${gBannerLink}`)
						img.g-banner__img(src=`templates/images/mBanners/${gBannerImg}`)

				.galleries
					.galleries__header=galleriesHeader
					ul.gallery__list
						each item in gallery
							li.gallery__item
								img.gallery__img(src=`templates/images/gallery/${item.img}`)
								.gallery__descr
									a.gallery__link(href=`${item.link}`)=item.name
									p.gallery__counter=item.counter

				ul.news__list
					each item in newsList
						li.news__item
							a.news__img-link(href=`${item.newsListLink}`)
								img.news__img(src=`templates/images/newsList/${item.newsListImg}`)
							.news__content
								a.news__header(href=`${item.newsListLink}`)= item.newsListHeader
								p.news__description.news-with-photo= item.newsListDescr
								p.news__comment= item.newsListComment
								p.news__text= item.newsListText
									a.news__read-more(href=`${item.newsListLink}`) Daugiau

			.col-lg-3
				include ../block/_big-side-bar