- var advertisingHeader = 'Reklama'
-
		var advertising = {
			'/link1':'Žurnalas „Mano ūkis“ ',
			'/link2':'Žurnalas „Vetinfo“',
			'/link3':'Žurnalas „Mano gyvenimas“',
			'/link4':'Specialieji žurnalų priedai',
		}
- var mBannerLink = 'link1'
- var mBannerImg = 'mbanner-1.png'

- var gBannerLink = 'g-link'
- var gBannerImg = 'gbanner-1.png'

- var newsTopic = 'Agropolitika'
- var newsHeader = 'Naujasis NŽT vadovas žada užbaigti žemės reformą ir susidoroti su korupcija'
- var newsDate = '2018-01-02'
- var newsImgFirst = 'news-img-first.png'
- var newsImgFirstDescr = ''
- var newsOneP = 'Darbą pradedantis Nacionalinės žemės tarnybos vadovas Laimonas Čiakas žada pagerinti įstaigos įvaizdį, reputaciją, viešinti korupcijos atvejus, pagerinti žemėtvarkos procesus ir baigti žemės reformą.Dalis darbų yra susiję su institucijos reputacija ir įvaizdžiu visuomenės akyse. Be abejo, dėmesys ir nepakantumas korupcinėms apraiškoms.'
- var newsTwoP = '„Dalis darbų yra susiję su institucijos reputacija ir įvaizdžiu visuomenės akyse. Be abejo, dėmesys ir nepakantumas korupcinėms apraiškoms. Procesai turi būti skaidrūs. (...) Manau, labai reikšmingas yra mūsų darbuotojų supratimas, kad tokie dalykai nebus toleruojami ir visus korupcijos apraiškų atvejus mes stengsimės viešinti", - trečiadienį spaudos konferencijoje tvirtino L. Čiakas. Anot jo, NŽT ieškos būdų, kaip geriau dirbti su verslu, o visi priežiūros ir vidiniai tarnybos procesai turėtų būti paspartinti.'
- var newsThreeP = ' „Aš manau, kad atlyginimas yra toks, kuris leidžia išgyventi, bet tikrai ne dėl atlyginimo dalyvavau konkurse. Man žemės ūkis yra artimas ir pažįstamas. Turėdamas žemės ūkio ir valstybinių auditų organizavimo patirtį, ją galiu pritaikyti veikloje", - kalbėjo L. Čiakas.'
- var newsfourP = 'Darbą pradedantis Nacionalinės žemės tarnybos vadovas Laimonas Čiakas žada pagerinti įstaigos įvaizdį, reputaciją, viešinti korupcijos atvejus, pagerinti žemėtvarkos procesus ir baigti žemės reformą.Dalis darbų yra susiję su institucijos reputacija ir įvaizdžiu visuomenės akyse. Be abejo, dėmesys ir nepakantumas korupcinėms apraiškoms. '
- var newsFiveP = 'L. Čiakas tikisi, jog daugumą užsibrėžtų tikslų jam pavyks įgyvendinti per ketverių metų kadenciją. Be to, jam nekelia  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore modi, laborum sed provident numquam ratione accusantium explicabo velit cupiditate deleniti, tenetur, alias rerum. Amet repellendus, iusto est minus nulla eum.'
- var newsSixP = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum at sit modi omnis, harum quod autem maiores culpa dignissimos eligendi voluptas, nobis, cum consequuntur quia libero itaque quibusdam, officiis dolore!'
- var newsSevenP = ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium totam at laborum nostrum expedita soluta temporibus facere inventore repellendus ducimus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quam, ex id officia, libero optio.'
- var newsEightP = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam iste omnis qui quaerat, distinctio praesentium at nostrum quis corporis commodi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum eaque eos dolorum ipsam quaerat, cupiditate?'
- var newsNineP = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, ipsum obcaecati nobis perferendis enim deleniti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eveniet.'
- var newsImgSecond = 'news-img-second.png'
- var newsImgSecondDescr = 'Ministras Bronius Markauskas pristatė naująjį Nacionalinės žemės tarnybos vadovą Laimoną Čiaką'
- var galleryHeader = 'Galerija'
-
		var galleryList = {
			'#1':'news-gallery-1.png',
			'#2':'news-gallery-2.png',
			'#3':'news-gallery-3.png',
			'#4':'news-gallery-4.png',
			'#5':'news-gallery-5.png',
			'#6':'news-gallery-6.png',
			'#7':'news-gallery-7.png',
			'#8':'news-gallery-8.png'
		}
- var newsPrint = 'Spausdinti'

- var uploadHeader = 'Pasiūlykite savo nuotrauką arba video'
- var uploadDescr = 'Leistini formatai: jpg, jpeg, png, flv. Leistinas dydis: 20M.'
- var confirmMessage = 'Įrašykite skaičių: '
- var confirmWord = 'Šešiolika'
- var fileSelectHeader = 'Pasirinkite failus'
- var fileSelectBtn = 'Choose file'
- var commentsCounter = '(23)'
- var commentsBtn = 'Komentuoti'
-
		var commnets =[
			{
				userImg: 'user-1.png',
				userName: 'Jonas',
				commentDate: '(78.62.240.157)',
				commentText: 'Kiek pamenu visi žadėdavo reformą užbaikt,konservatoriai net buvo paskelbę kad jau bagė.Deja,deja. Dauguma savininkų jau išmirė taip ir neatgavę savo žemės'
			},{
				userImg: 'user-1.png',
				userName: 'Jonas',
				commentDate: '(78.62.240.157)',
				commentText: 'Kiek pamenu visi žadėdavo reformą užbaikt,konservatoriai net buvo paskelbę kad jau bagė.Deja,deja. Dauguma savininkų jau išmirė taip ir neatgavę savo žemės'
			},{
				userImg: 'user-1.png',
				userName: 'Jonas',
				commentDate: '(78.62.240.157)',
				commentText: 'Kiek pamenu visi žadėdavo reformą užbaikt,konservatoriai net buvo paskelbę kad jau bagė.Deja,deja. Dauguma savininkų jau išmirė taip ir neatgavę savo žemės'
			},{
				userImg: 'user-1.png',
				userName: 'Jonas',
				commentDate: '(78.62.240.157)',
				commentText: 'Kiek pamenu visi žadėdavo reformą užbaikt,konservatoriai net buvo paskelbę kad jau bagė.Deja,deja. Dauguma savininkų jau išmirė taip ir neatgavę savo žemės'
			}
		]
- var btnLoadMore = 'Visi komentarai...'
-
		var newsList =[
			{
				newsListLink: 'link-1',
				newsListComment: '(5)',
				newsListImg: 'news-1.png',
				newsListHeader: 'Mineralinio azoto dirvožemyje - ypatingai mažai',
				newsListDescr: 'Lapkričio 30d., šeštadienis  Mokslas',
				newsListText: 'Vilnius. Žemės ūkio ministerija praneša, kad šio rudens mineralinio azoto tyrimų rezultatai nėra džiuginantys, tačiau tai galima buvo prognozuoti atsižvelgus į itin gausius kritulius. '
			}
		]
-
		var alsoRead = {
			'link1':'Šiemet nustatyti aštuoni glifosato netinkamo naudojimo atvejai',
			'link2':'Žemės ūkio mašinų pramonės tendencijos: nuo neigiamų iki teigiamų',
			'link3':'Mineralinio azoto dirvožemyje - ypatingai mažai'
		}
- var commentMessage = 'Dėmesio! '
- var commentMessageSpan = 'Atsakomybė už komentarų turinį tenka patiems komentuotojams.'
- var commentMessageTwo = 'Komentuokite atsakingai, gerbkite kitų nuomonę.'
.main-content
	.container
		.row
			.col-lg-2
				include ../block/_small-side-bar

			.col-lg-7.main-news

				.m-banner
					a.m-banner__link(href=`${mBannerLink}`)
						img.m-banner__img(src=`templates/images/mBanners/${mBannerImg}`)
				.news-content
					.news__topic= newsTopic
					.news__header= newsHeader
					.news__date= newsDate
					.news__text
						figure.figure-in-text
							img.figure-img(src=`templates/images/news/${newsImgFirst}`)
							figcaption.figure-descr= newsImgFirstDescr
						p= newsOneP
						p= newsTwoP
						p= newsThreeP
						p= newsFourP
						p= newsFiveP
						p= newsSixP
						figure.figure-in-text
							img.figure-img(src=`templates/images/news/${newsImgSecond}`)
							figcaption.figure-descr= newsImgSecondDescr
						p= newsSevenP
						p= newsEightP
						p= newsNineP
						p BNS, ZUM, MU inf.
					.news__gallery
						.gallery-header= galleryHeader
						ul.gallery__list
							each galleryImg, galleryLink in galleryList
								li.gallery__item
									a.gallery__link(href=`templates/images/news-gallery/${galleryImg}` data-toggle='lightbox' data-gallery='example-gallery')
										img.gallery__img(src=`templates/images/news-gallery/${galleryImg}`)
					.news__share
						a(href='#').news__print= newsPrint
						.news__counter
							img.desk-share(src='templates/images/share/share-d.png')
							img.mob-share(src='templates/images/share/share-m.png')
					form.form-upload
						p.upload__header= uploadHeader
						p.upload__descr= uploadDescr
						.upload__confirmation
							p.confirm__message= confirmMessage
								span.confirm__word= confirmWord
							input.form-field
						.upload__file-select
							p.select__header= fileSelectHeader
							input.select__input(type='file' size='20')
				.g-banner
					a.g-banner__link(href=`${gBannerLink}`)
						img.g-banner__img(src=`templates/images/mBanners/${gBannerImg}`)
				.comments
					p.comments__counter= commentsCounter
					form.comments__form
						p.comments__descr
							span Dėmesio! 
							| Atsakomybė už komentarų turinį tenka patiems komentuotojams.
						p.comments__descr= commentMessageTwo
						.comments__inputs
							input.form-field(type='text' placeholder='Jūsų vardas')
							input.form-field(type='text' placeholder='Jūsų el. paštas')
						textarea.form-textarea
						.upload__confirmation
							p.confirm__message= confirmMessage
								span.confirm__word= confirmWord
							input.form-field
							a(href='#').comments__btn= commentsBtn
					ul.comment__list
						each item in commnets
							li.comment__item
								img.commentator__img(src=`templates/images/comment/${item.userImg}`)
								.comment__wrapper
									p.commentator__name= item.userName
									p.comment__date= item.commentDate
									p.commentator__text= item.commentText
					a.comment__load-more(href='#')= btnLoadMore
				.also-read
					p.also-read__header Taip pat skaitykite
					.also-read__news
						ul.news__list
							each item in newsList
								li.news__item
									a.news__img-link(href=`${item.newsListLink}`)
										img.news__img(src=`templates/images/newsList/${item.newsListImg}`)
									.news__content
										a.news__header(href=`${item.newsListLink}`)= item.newsListHeader
										p.news__description.news-with-photo= item.newsListDescr
										p.news__comment= item.newsListComment
										p.news__text= item.newsListText
											a.news__read-more(href=`${item.newsListLink}`) Daugiau
					ul.also-read__list
						each alsoReadText,alsoReadLink in alsoRead
							li.also-read__item
								a.also-read__link(href=`${alsoReadLink}`)=alsoReadText

			.col-lg-3
				include ../block/_big-side-bar