-
	var orderList = [
		{
			photo: 'order1.png',
			labelDate: 'Prenumeratos pradžia:',
			labelMonth: 'Prenumeratos trukmė (mėn.):',
			labelCounter: 'Prenumeratos kiekis:',
			sum: '178.5 Eur'
		},{
			photo: 'order2.png',
			labelDate: 'Prenumeratos pradžia:',
			labelMonth: 'Prenumeratos trukmė (mėn.):',
			labelCounter: 'Prenumeratos kiekis:',
			sum: '178.5 Eur'
		}
	]
-
	var orderListBook = [
		{
			title: 'Galvijų stemplės ir prieskrandžių ligos',
			labelCounter: 'Kiekis:',
			sum: '178.5 Eur'
		},{
			title: 'Užkrečiamųjų spongiforminių encefalopatijų rizikos analizė',
			labelCounter: 'Kiekis:',
			sum: '178.5 Eur'
		}
	]
-
	var inputList = [
		{
			width: 'small',
			required: 'required',
			error: 'error',
			label: 'Užsakovo vardas',
			id: 'field1'
		},{
			width: 'small',
			required: 'required',
			error: '',
			label: 'Užsakovo pavardė',
			id: 'field2'
		},{
			width: 'big',
			required: 'required',
			error: '',
			label: 'Įmonės / ūkio pavadinimas',
			id: 'field3'
		},{
			width: 'small',
			required: 'required',
			error: '',
			label: 'Įmonės kodas',
			id: 'field4'
		},{
			width: 'small',
			required: 'required',
			error: '',
			label: 'PVM mokėtojo kodas',
			id: 'field5'
		},{
			width: 'small',
			required: 'required',
			error: '',
			label: 'El. paštas',
			id: 'field6'
		},{
			width: 'small',
			required: 'required',
			error: '',
			label: 'Telefonas',
			id: 'field7'
		}
	]
.order__header.section__header MANO KREPŠELIS
.order-table
	.order-table__header 2018
	ul.order-table__list
		each item in orderList
			li.order-table__item.order-item
				.order-item__image
					img(src=`templates/images/magazins/${item.photo}`)
				.order-item__date
					.order-dropdown-label= item.labelDate
					select.order-dropdown-select
						option 2018-02-02
						option 2018-02-01
						option 2018-02-03
						option 2018-02-04
				.order-item__month
					.order-dropdown-label= item.labelMonth
					select.order-dropdown-select
						option 1
						option 2
						option 3
						option 4
						option 5
				.order-item__counter
					.order-dropdown-label= item.labelCounter
					select.order-dropdown-select
						option 1
						option 2
						option 3
						option 4
						option 5
				.order-item__sum= item.sum
.order-table--book
	ul.order-table__list
		each item in orderListBook
			li.order-table--book__item
				.order-table--book__title= item.title
				.order-table--book__counter
					.order-dropdown-label= item.labelCounter
					select.order-dropdown-select
						option 1
						option 2
						option 3
						option 4
						option 5
				.order-item__sum= item.sum
.order-total__wrapper
	.order-total
		.order-total__label Viso
		.order-total__sum 178.5 Eur
.message-warning Patikrinkite, atrodo yra klaidų
.order-form
	.order-form__wrapper
		.order-form__field
			.order-checkbox
				input(type='checkbox' id='order1').order-checkbox__input
				label(for='order1').order-checkbox__label Reikalinga sąskaita faktūra
		ul.order-form__inputs.order-form__list
			each item in inputList
				li.order-form__item(class=`${item.width}`)
					label(for=`${item.id}`).order-form__label(class=`${item.required}`)= item.label
					input(id=`${item.id}`).field-input.order-form__input(class=`${item.error}`)

		ul.address-info__list
			li.address-info__item
				.address-info__title
					lable(for='postalOne').order-form__label.required Įmonės / ūkio registracijos adresas
					input(id='postalOne').order-form__input.field-input
				.address-info__postal
					.address-info__label-wrapper
						label(for='postalcode1').order-form__label.required Pašto kodas
						a(href='#').news__read-more Paieška
					.address-info__input-wrapper
						a(href='#').address-info__btn lt
						input(id='postalcode1').order-form__input.field-input

		.order-form__field
			.order-checkbox
				input(type='checkbox' id='order2').order-checkbox__input.required
				label(for='order2').order-checkbox__label Skiriasi prenumeratos pristatymo adresas

		ul.address-info__list
			li.address-info__item
				.address-info__title
					lable(for='postal2').order-form__label.required Mano Ūkis pristatymo adresas
					input(id='postal2').order-form__input.field-input
				.address-info__postal
					.address-info__label-wrapper
						label(for='postalcode2').order-form__label.required Pašto kodas
						a(href='#').news__read-more Paieška
					.address-info__input-wrapper
						a(href='#').address-info__btn lt
						input(id='postalcode2').order-form__input.field-input
			li.address-info__item
				.address-info__title
					lable(for='postal3').order-form__label.required VETInfo pristatymo adresas
					input(id='postal3').order-form__input.field-input
				.address-info__postal
					.address-info__label-wrapper
						label(for='postalcode3').order-form__label.required Pašto kodas
						a(href='#').news__read-more Paieška
					.address-info__input-wrapper
						a(href='#').address-info__btn lt
						input(id='postalcode3').order-form__input.field-input
	.order-form__confirm
		ul.confirm-info__list
			li.confirm-info__item
				a(href='#').confirm-info__link.news__read-more Prenumeratos taisyklės
			li.confirm-info__item
				a(href='#').confirm-info__link.news__read-more Pagalba
		a(href='#').order-confirm__btn PATVIRTINTI UŽSAKYMĄ